@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
  height: 100vh;
}

.container{
    max-width: 400px;
    height: 80vh;
    margin:75px auto;
    padding: 20px;
    border-radius:10px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
}

#todoContainer{
    height: 40vh;
    overflow-y: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 20px 10px 10px 20px;
}

body::-webkit-scrollbar {
    display: none;
 }

#todoContainer::-webkit-scrollbar {
    width: 20px;
 }
  
  /* Track */
  #todoContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  #todoContainer::-webkit-scrollbar-thumb {
    background: #B7C4CF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #todoContainer::-webkit-scrollbar-thumb:hover {
    background: #a4b3c0; 
     
  }

h1{
    width: fit-content;
    margin: auto;
}

.todoInput{
    width: 100%;
    height: 35px;
    font-size: large;
    border: 1px solid rgba(51, 51, 51, 0.613);
    border-radius: 5px;
    padding:10px;
    transition: outline 1s;
}

.todoInput:focus{
    border: none;
    outline:1px solid rgb(34, 131, 241);
}


#leftedItemCount{
    /* float: right; */
    width: fit-content;
    margin:0px 10px 10px auto;

}

button{
margin: 10px 0px;
padding: 7px 14px;
border: none;
border-radius: 50px;
background-color: #B7C4CF;
}

button:hover{
    background-color: #a4b3c0;
    cursor: pointer;
}

#addTodo{
position: absolute;
bottom: 10px;
right: 25px;
}

#clearCompletedTodo{

}

.todoItems{
    margin-right:10px;
}

.true{
    text-decoration: line-through;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: wavy line-through;
    text-decoration-thickness: 5px;
  }
.todoItem{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.todoItem *{
    cursor: pointer;
}
.deleteIndividualItem{
   background-color: #ff6242;
   color: rgba(255, 255, 255, 0.805);
}

.deleteIndividualItem:hover{
    background-color: #fb3b1e;
    color: white;
 }
 
 .editIndividualItem{
     background-color:  rgba(34, 131, 241, 0.854);
     color: rgba(255, 255, 255, 0.805);
     margin-right: 5px;
}
    
.editIndividualItem:hover{
    background-color: rgb(1, 94, 199);
    color: white;
}
.editContainerOuter{
   position: absolute;
   width: 100vw;
   height: 80vh;
   z-index: 100;
}
.editContainerInner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.editContainer{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.editContainerButton{
    display: flex;
    justify-content: space-around;
}

.editButtonCancel{
    color: white;
    background-color: rgba(244, 31, 31, 0.915);
    font-size: larger;
}
.editButtonCancel:hover{
    background-color: rgba(233, 13, 13, 0.983);
}
.editButtonSave{
    color: white;
    background-color: rgba(20, 249, 47, 0.915);
    font-size: larger;
}
.editButtonSave:hover{
    background-color: rgba(3, 201, 27, 0.915);
}